extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      form.ui.large.form
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type="text" name="username" placeholder="Username")
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type="password" name="password" placeholder="Password")
          a(href="/main")
            .ui.fluid.large.blue.submit.button Login
    //div
      h.3 Welcome to NNC
      p NNC stands for Neural Network Clasifiers. NNC helps researchers focus more on their research by providing a neural network that is trained to classify their data and pull the pictures with the information that they want. This allows the hero's of today to focus more on helping the world and less on learning code.
