
extends layout

block content
    .column
      form.ui.large.form
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type="text" name="username" placeholder="Username")
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type="password" name="password" placeholder="Password")
          a(href="/main")
            .ui.fluid.large.blue.submit.button Login
<<<<<<< HEAD
      infobox
        h2 Welcome to NNC
        p NNC stands for Nueral Network Clasifiers. NNC helps researchers focus more on their research by providing a neural network that is trained to classify their data and pull the pictures with the information that they want. This allows the hero's of today to focus more on helping the world and less on learning code.
        
=======
    //div
      h.3 Welcome to NNC
      p NNC stands for Neural Network Clasifiers. NNC helps researchers focus more on their research by providing a neural network that is trained to classify their data and pull the pictures with the information that they want. This allows the hero's of today to focus more on helping the world and less on learning code.
>>>>>>> 66396135f9f47ce8df3918bbec35583914db2ff4
