extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
    div 
      h1="Upload picture to test (must be jpeg)"
    .uploadbutton
      form(action='/uploadfile', enctype="multipart/form-data", method="post")
        .ui.action.input
          input#filepath(type="text", name="file-path", readonly)
          .ui.green.right.labeled.icon.button.upload-btn Select file
            i.upload.icon
        button.ui.button.uploadbutton Upload
          input#upload-input(type="file", name="image", accept="image/jpeg")

    instruction
      h2 Now you can use your algorithm!
      p After uploading your zip file, you have now successfully trained the machine. To use, just upload a photo and the machine will tell you whether your desired data subject is present or not.

block script
  script.
    $('.upload-btn').on('click', function() {
      $('#upload-input').click();
    });
    $('#upload-input').on('change', function() {
      var filePath = $('#upload-input').get(0).files[0].name;
      $('#filepath').val(filePath);
    });
