@import "colors";

body {
  // padding: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $background;
  header {
    background-color: $headerbackground;
    width: 100%;
    .logo {
      cursor: pointer;
      margin-left: 50px;
      margin-top: auto;
      margin-bottom: auto;
      background-image: url('../images/brain.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 30%;
      text-align: center;
      display: block;
      height: 120px;
      width:140px;
    }
    .header {
      height: 140px;
    }
  }

  .uploadbutton {
    margin: 10px 10px 0 10px !important;
  }

  #upload-input {
    display: none;
  }

  .new-column-left {
    float: left;
    width: 15%;
  }
  .new-column-right {
    float: right;
    width: 82%
  }  
  .row:after {
     content: "";
     display: table;
     clear: both;
  }   
}

a {
  color: rgb(0, 89, 255);
}

  h1 {
    min-height: 1rem;
    font-size: 5rem;
    margin-top: 20px;
  }